<!-- public/views/home.html -->
<div class="container">
    <br><br>
    <h1 class="header center orange-text">Franchise Genome</h1>
    <div class="row center" data-ng-show="isLoggedIn()">
        <h5 class="header col s12 light">You are already signed in as {{currentUser()}}</h5>
        <button data-ng-click="logOut()" class="btn-large waves-effect waves-light orange">Log out</button>
    </div>
    <div class="row center" data-ng-hide="isLoggedIn()">
        <!-- LOGIN FORM -->
        <h5 class="header col s12 light">Login to View Reports</h5>
        <form data-ng-submit="logIn()">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" ng-model="user.email" style="text-align: center">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="user.password" style="text-align: center">
            </div>

            <button type="submit" class="btn-large waves-effect waves-light orange">Login</button>
        </form><br><br>

        <hr>

        <p>Need an account? <a href="/signup">Sign Up</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div>